# Backend API URL
NEXT_PUBLIC_API_URL=https://q10-page.onrender.com/api

# Stripe publishable key
NEXT_PUBLIC_STRIPE_KEY=pk_test_...

# Wompi public key (Colombia - opcional)
NEXT_PUBLIC_WOMPI_PUBLIC_KEY=pub_test_...
