DATABASE_URL="postgresql://neondb_owner:npg_vMUo0sAVxD2w@ep-calm-unit-aqccbjpv-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="your-jwt-secret"
JWT_REFRESH_SECRET="your-refresh-secret"
JWT_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
STRIPE_PUBLISHABLE_KEY="pk_test_..."
WOMPI_PUBLIC_KEY="pub_test_..."
WOMPI_PRIVATE_KEY="priv_test_..."
WOMPI_EVENTS_KEY="events_test_..."
WOMPI_WEBHOOK_SECRET="wompi_whsec_..."
RESEND_API_KEY="re_jXaMXCbF_2PbSpquGzbti2T3AJATRFumw"
EMAIL_FROM="onboarding@resend.dev"
PORT=4000
NODE_ENV=development
FRONTEND_URL="http://localhost:3000"
UPLOAD_DIR="./uploads"
SUPER_ADMIN_KEY="Immanuel3008@30"
